.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #ededb1;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:hover {
  background-color: #a3a37e;
  box-shadow: 0 1px 1px 0 rgba(4, 4, 3, 0.2), 0 1px 3px 1px rgba(4, 4, 3, 0.2);
}

.button--transparent {
  background-color: transparent;
  font-weight: bold;
}

.button--transparent:hover {
  background-color: rgba(163, 163, 126, 0.185);
  box-shadow: 0 1px 1px 0 rgba(4, 4, 3, 0.05), 0 1px 3px 1px rgba(4, 4, 3, 0.05);
}
